<aside
  class="sidebar"
  [class.is-collapsed]="collapsed"
  [class.is-mobile-open]="mobileOpen"
>
  <div class="sidebar__brand">
    <div class="sidebar__logo">H</div>
    <span class="sidebar__brand-text" *ngIf="!collapsed">HRM Platform</span>
    <button
      type="button"
      class="sidebar__close-btn"
      (click)="mobileClose.emit()"
      aria-label="Close menu"
    >
      <ng-icon name="heroXMark" size="20" />
    </button>
  </div>

  <nav class="sidebar__nav" aria-label="Main">
    <ng-container *ngFor="let item of items; trackBy: trackItem">
      <!-- Leaf -->
      <a
        *ngIf="item.path && !item.children"
        [routerLink]="item.path"
        routerLinkActive="is-active"
        class="sidebar__item"
        [title]="collapsed ? item.label : null"
      >
        <ng-icon *ngIf="item.icon" [name]="item.icon" size="20" class="sidebar__icon" />
        <span class="sidebar__label" *ngIf="!collapsed">{{ item.label }}</span>
      </a>

      <!-- Group -->
      <div *ngIf="item.children" class="sidebar__group">
        <button
          type="button"
          class="sidebar__item sidebar__item--toggle"
          (click)="toggle(item)"
          [title]="collapsed ? item.label : null"
        >
          <ng-icon *ngIf="item.icon" [name]="item.icon" size="20" class="sidebar__icon" />
          <span class="sidebar__label" *ngIf="!collapsed">{{ item.label }}</span>
          <ng-icon
            *ngIf="!collapsed"
            name="heroChevronDown"
            size="14"
            class="sidebar__chevron"
            [class.is-open]="isExpanded(item)"
          />
        </button>
        <div class="sidebar__children" *ngIf="!collapsed && isExpanded(item)">
          <a
            *ngFor="let child of item.children; trackBy: trackItem"
            [routerLink]="child.path"
            routerLinkActive="is-active"
            class="sidebar__child"
          >
            {{ child.label }}
          </a>
        </div>
      </div>
    </ng-container>
  </nav>
</aside>
